In [1]:
import numpy as np
import pandas as pd

In [12]:
ptsA = np.load('n2a.npy')
ptsB = np.load('n2b.npy')

In [13]:
N = 400

In [14]:
IA = np.random.permutation(ptsA.shape[0])[:N]
IB = np.random.permutation(ptsB.shape[0])[:N]

In [15]:
ptsA = ptsA[IA,:]
ptsB = ptsB[IB,:]

In [16]:
df = pd.DataFrame(np.column_stack([ptsA, ptsB]), columns=['x1', 'y1', 'z1', 'x2', 'y2', 'z2'])

In [17]:
df

             x1           y1         z1          x2           y2         z2
0   -928.716980 -1038.789795  23.493225 -930.284973 -1038.671997  23.745955
1   -928.732178 -1038.808838  24.252213 -930.387390 -1038.594238  22.469328
2   -928.784180 -1038.818726  21.417339 -929.874634 -1038.770508  21.326925
3   -928.764343 -1038.787964  23.587328 -930.230957 -1038.644409  23.603245
4   -928.687439 -1038.783936  22.728743 -929.351990 -1038.866943  23.392075
..          ...          ...        ...         ...          ...        ...
395 -928.694641 -1038.834106  22.390675 -929.967407 -1038.749268  23.140266
396 -928.703918 -1038.731812  24.272738 -929.341614 -1038.876343  22.588835
397 -928.768005 -1038.843994  23.371185 -929.628662 -1038.844482  22.897642
398 -928.458862 -1038.924683  24.066782 -930.010620 -1038.688110  23.150793
399 -928.710449 -1038.784180  21.531757 -930.618103 -1038.556519  23.526138

[400 rows x 6 columns]

In [18]:
df.to_csv('pts2.csv', index=False, header=['x1', 'y1', 'z1', 'x2', 'y2', 'z2'], float_format='%.3f')